.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-container > * {
    width: 100%;
  }
  .input.ng-invlaid.ng-touched{
      border: 1px solid-red;
  }
